{{ with site.GetPage "sections/permanence" }}
    {{ if .Params.enable }}
      <section class="row">
        <div class=" mb-12">
          <h2 class="mb-4">
            {{ .Title | markdownify }}
          </h2>
          
          <p>
            {{ .Params.description | markdownify }}
          </p>
          {{ with .Params.button }}
          {{ if .enable }}
            <a
              class="btn btn-outline-primary btn-sm hidden lg:inline-block"
              href="{{ .link | absURL }}"
              target="_blank"
              rel="noopener">
              {{ .label }}
            </a>
          {{ end }}
        {{ end }}
        </div>
      </section>
    {{ end }}
  {{ end }}