/* === Tes surcharges qui utilisent @apply === */

.h4 {
  font-size: 1.4rem;
}

.header {
  background-color: #F8F1FF;
}

.navbar-nav {
  background-color: #F8F1FF;
}

.nav-link { 
  color: #76039C;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link.active { 
  text-decoration: none;
    font-weight: 700;
}

a.categorie {
  background-color: #FFF;
}

a.categorie:hover {
  background-color: transparent;
}

.btn-outline-primary {
  background-color: #76039C;
  color: #FFF;
  border: #76039C;
  border-radius: 8px;
}

.btn-outline-primary:hover {
  background-color: #9A00CD;
}

.btn {
  text-transform: initial;
}

.breadcrumb {
  background-color: #9A00CD;
  color: #fff;
}

main {
  background-color: #F8F8F8;
}

    .card {
      background-color: #fff;
      
    }

footer {
  background-color: #48085D;
}