{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    {{ partial "home-banner-bgimg.html" . }}
    <section class="section home-banner flex items-center justify-center text-white h-[55vh] md:h-[50vh] lg:h-[60vh] xl:h-[70vh]">
      <div class="container pt-14">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8 text-center">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link "http" }} target="_blank" rel="noopener" {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <section class="section-sm">
    <div class="container">
      <div class="flex flex-col lg:flex-row space-x-12">
        <div class="lg:col-8">
          <!-- conseil -->
          {{ with .Params.conseil }}
            {{ range $i, $e := . }}
              <div class="row items-center justify-between {{ if (modBool $i 2) }}{{ end }}">
                <div class="{{ if not (modBool $i 2) }} md:order-1 {{ end }}">
                  <h2 class="my-8">{{ $e.title | markdownify }}</h2>
                </div>
              </div>
            {{ end }}
          {{ end }}
          <!-- /conseil -->

          <!-- categories -->
          <div class="row items-center justify-between border border-gray-300 rounded-md mt-8">
            {{ if isset site.Taxonomies "categories" }}
              {{ if gt (len site.Taxonomies.categories) 0 }}
                <h3 class="pt-8 px-8 text-lg">Conseils pratiques</h3>
                <div class="bg-light dark:bg-darkmode-light rounded p-8">
                  <div class="grid grid-cols-2 gap-4">
                    {{ range $name, $items := site.Taxonomies.categories }}
                      {{ $first := index $items 0 }}
                      <div class="card rounded-md p-6">
                        <div class="flex justify-between">
                          <div class="flex items-center gap-2">
                            {{ with $first.Params.icon }}
                              <i class="{{ . }}"></i>
                            {{ end }}
                            <span>{{ $first.Title }}</span>
                          </div>
                        </div>
                        <ul class="mt-4 list-disc list-inside text-sm">
                          {{ range first 2 (sort $items "Date" "desc") }}
                            <li>
                              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </li>
                          {{ end }}
                        </ul>
                        <a class="flex items-center" href="/articles/#{{ urlize $name }}">
                          voir plus <i class="fa fa-arrow-right pl-2"></i>
                        </a>
                      </div>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </div>
          <!-- /categories -->
        </div>
        <div class="flex flex-col mt-36 mb-10 ">
          {{ partial "components/permanence.html" . }}
        </div>
       </div>
    </div>
  </section>
{{ end }}
