{{ define "main" }}
{{ partial "components/breadcrumb" (dict "Context" . "Class" "") }}
<section class="section pt-14">
  <div class="container">
    <div class="flex flex-col  lg:flex-row space-x-12">
      
      <div class=" lg:col-8">
        <article class="">
          <h1 class="h2 mb-4">{{ .Title }}</h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
              </a>
            </li>
  
            {{ $categories := .Params.categories }}
              {{ if $categories }}
                <li class="mr-4 inline-block">
                  <i class="fa-regular fa-folder mr-2"></i>
                  {{ range $i, $name := $categories }}
                    <a href="/articles/#{{ urlize $name }}">
                      {{ $name | humanize }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
                    </a>
                  {{ end }}
                </li>
              {{ end }}
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>{{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
  
          {{ $image := .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}
  
          <div class="content mb-10">
            {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}
            {{ .Content }}
          </div>
        </article>
        <!-- comments -->
      {{ if site.Config.Services.Disqus.Shortname }}
        <div class="mt-20">
          {{ template "_internal/disqus.html" . }}
        </div>
          {{ end }}
      </div>

      <aside class="flex flex-col">
        {{ $tags := .Params.tags }}
        {{ if $tags }}
          <div class="mt-36 mb-10 flex items-center lg:mb-0">
            <h5 class="mr-3">{{ T "tags" }} :</h5>
            <ul>
              {{ range $i, $p := $tags }}
                <li class="inline-block">
                  <a class="bg-light hover:bg-primary dark:bg-darkmode-light dark:hover:bg-darkmode-primary dark:hover:text-text-dark m-1 block rounded px-3 py-1 hover:text-white"
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                    {{ . | humanize }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}

        <div class=" flex items-center lg:justify-end">
          <h5>{{ T "share" }} :</h5>
          {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" .Title "Whatsapp" false "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false "Reddit" false) }}
        </div>

        {{ partial "components/permanence.html" . }}
      </aside>
    </div>
  </div>

</section>
<!-- Related posts -->
<div class=" bg-surface-brand">
  <div class="container ">
    {{ if $categories }}
      {{ $category := index $categories 0 }}
      {{ $related := where .Site.RegularPages "Params.categories" "intersect" (slice $category) }}
      {{ $related = where $related "Permalink" "ne" .Permalink }}
      {{ $related = first 4 (sort $related "Date" "desc") }}

      {{ with $related }}
        <div class="py-12">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            {{ range . }}
              <div class="">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}
